.recipe-form {
	display: flex;
	flex-direction: column;
}

.recipe-form label {
	margin-bottom: 10px;
}

.recipe-form select {
	width: 60%;
	max-width: 250px;
	background-color: var(--secondary);
	color: white;
	font-size: 0.9em;
	text-align: center;
	padding: 5px;
	margin: 0 auto;
}

.recipe-form button {
	width: 50%;
	max-width: 180px;
	margin: 10px auto;
}

@media screen and (min-width: 620px) {
	.recipe-form select {
		width: 60%;
		max-width: 350px;
	}

	.recipe-form button {
		width: 50%;
		max-width: 250px;
	}
}
