.doctor-form {
	display: flex;
	flex-direction: column;
}

.doctor-form input {
	width: 60%;
	max-width: 250px;
	font-size: 1.1em;
	text-align: center;
	padding: 3px;
	margin: 0 auto;
	margin-bottom: 10px;
	border: 2px solid var(--secondary);
	border-radius: 10px;
}

.doctor-form button {
	width: 50%;
	max-width: 180px;
	margin: 10px auto;
}

@media screen and (min-width: 620px) {
	.doctor-form input {
		width: 60%;
		max-width: 350px;
	}

	.doctor-form button {
		width: 50%;
		max-width: 250px;
	}
}
